@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: #edfcf0ff;
  --secondary-background: #232e55ff;
  --background: #0c0c17ff;
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  background-color: var(--secondary-background);
  display: flex;
  justify-content: space-between;
  max-height: 7vh;
  align-items: center;
}

input {
  color: black;
}